@model PagedList.IPagedList<Data.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Danh sách sản phẩm
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="row form-group">
                <div class="col-lg-12 row">
                    <div class="col-md-4">
                        <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        <a href="/Admin/Product/Create" class="btn btn-primary">Thêm mới</a>
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive" style="overflow-x: hidden;">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Giá</th>
                                    <th>Giảm giá</th>
                                    <th>Giá khuyến mại</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày cập nhật</th>
                                    <th>Số lượng tồn</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.Name</td>
                                        <td>
                                            <img src=" @Html.DisplayFor(modelItem => item.Image)" height="100px" />
                                        </td>
                                        <td>@item.Price</td>
                                        <td>@item.Promotion</td>
                                        <td>@item.PromotionPrice</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.ModifiedDate</td>
                                        <td>Progressing</td>
                                        <td><a href="#" class="btn-active" data-id="@item.Id">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                                        <td>
                                            <a href="@Url.Action("Detail", "Product", new { id = item.Id })" class="text-primary f2"><i class="fa-solid fa-eye"></i></a>
                                            <a href="@Url.Action("Edit", "Product", new { id = item.Id })" class="text-primary f2"><i class="fas fa-edit"></i></a>
                                            <a href="@Url.Action("Delete", "Product", new { id = item.Id })" class="text-primary f2"><i class="fa-solid fa-trash-can"></i></a>\
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này?",
                                           OnComplete = "$('#row_" + @item.Id + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomJs {
    <script src="/Assets/Admin/js/controller/userController.js"></script>
}